%ul.list-group.list-group-horizontal
  - if policy(resource_klass).new?
    %li.list-group-item
      = link_to new_backend_resource_url, class: 'btn btn-light' do
        = icon('bi bi-plus')
        = t('integral.actions.create')
        = resource_klass.model_name.human.capitalize
  - if resource_klass.respond_to?(:subscribable?) && resource_klass.subscribable?
    %li.list-group-item= render partial: 'integral/backend/shared/notification_subscription_toggle', locals: { subscribable: resource_klass }
