%html
  = render 'layouts/integral/backend/head'
  %body{ class: "#{controller_name} #{action_name}", data: body_data_attributes }
    = google_tag_manager(:noscript)
    -# = render partial: 'integral/shared/media_query_indicator'
    -# .integral-version.is-hidden= "Integral Version: #{Integral::VERSION}"

    .toast-wrapper(aria-live="polite" aria-atomic="true")
      #toast-container.toast-container.p-3

    .app-dashboard{ class: cookies['integral-sidebar'] == 'shrunk' ? 'shrink-large' : 'shrink-medium'}
      #app-dashboard-sidebar.app-dashboard-sidebar
        .app-dashboard-sidebar-title-area
          = image_tag(image_path('integral/backend/logo.png'))
          %button#close-sidebar.btn{ data: { controller: 'dashboard-menu-toggle', action: 'dashboard-menu-toggle#toggle' }, 'aria-label' => "Close menu", type: "button" }
            = icon('bi bi-list')

        #dashboard--sidebar-inner.app-dashboard-sidebar-inner{ 'data-turbolinks-permanent' => true }
          %ul.app-dashboard-sidebar-menu{:role=>"tablist"}
            = render partial: 'layouts/integral/backend/main_menu_items'

      .app-dashboard-body
        .topbar
          .topbar-left
            = image_tag(image_path('integral/backend/logo.png'))
            %h1= page_title
          .topbar-right{:role=>"tablist"}
            %button.btn.btn-primary.btn-toggle-menu(type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample")
              = icon('bi bi-list')
            = link_to main_app.root_path, class: 'btn btn-view-site' do
              = icon('bi bi-eye')
              = t('integral.actions.view_main_site')
            %button.btn.btn-notifications-dropdown(data-bs-toggle="tab" id="tab--header-notifications" data-target="pane--header-notifications" type="button" role="tab")
              - if current_user.notifications.unread.any?
                = icon('bi bi-circle-fill')
                = icon('bi bi-bell')
              - else
                = icon('bi bi-bell-fill')
            %button.btn.btn-avatar-menu(data-bs-toggle="tab" id="tab--header-profile" data-target="pane--header-profile" type="button" role="tab")= decorated_current_user.avatar_circle
            %button.btn.btn-primary.btn-create-menu(data-bs-toggle="tab" id="tab--header-create" data-target="pane--header-create" type="button" role="tab")
              = t('integral.actions.create')
              = icon('bi bi-chevron-down')

        #content-area
          = render partial: 'integral/backend/shared/breadcrumbs'
          = yield

    .bottombar
      .bottombar-left
        = link_to main_app.root_path, class: '' do
          = icon('bi bi-eye')
          = t('integral.actions.view_main_site')

      .bottombar-right
        .btn-group.dropup
          %button(type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false")
            = t('integral.actions.create')
          %ul.dropdown-menu
            = render partial: 'layouts/integral/backend/create_dropdown'

    = render partial: 'integral/backend/shared/resource_selector'
    = render partial: 'integral/backend/shared/activity_modal'
    = render partial: 'integral/backend/shared/confirm_modal'
    #headerPanes.tab-content{ data: { turbo_permanent: true } }
      .tab-pane.tab-pane-notifications(id="pane--header-notifications" aria-labelledby="tab--header-notifications" role="tabpanel")
        .section.text-center
          %span.title
            = current_user.notifications.unread.count
            Unread
          %span.subtitle User Notifications
        .section
          - if current_user.notifications.unread.count > 25
            = link_to 'Mark all as read', read_all_notifications_backend_user_url(current_user), method: :put, remote: true, class: 'notification-read-all', data: { confirm: 'Are you sure you want to mark all notifications as read?' }
          %ul.menu.vertical.notification-list
            = render recent_user_notifications.decorate, cached: true
          - if current_user.multiple_page_notifications?
            %p.notification-list-loader.js-loader--notifications
              = icon('spinner', class: 'fa-pulse fa-fw')

      .tab-pane.tab-pane-profile(id="pane--header-profile" aria-labelledby="tab--header-profile" role="tabpanel")
        .section
          = decorated_current_user.avatar_circle
          %div
            %span.name= current_user.name
            %span.email= current_user.email
        .section
          %ul.list-group
            %li.list-group-item
              = link_to backend_account_url do
                = icon('bi bi-person')
                %span= t('integral.navigation.profile')
            %li.list-group-item
              = link_to edit_backend_user_url(current_user.id) do
                = icon('bi bi-gear')
                %span= t('integral.actions.edit_profile')
          %hr
          = link_to t('integral.actions.log_out'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-primary'

      .tab-pane.tab-pane-create(id="pane--header-create" aria-labelledby="tab--header-create" role="tabpanel")
        %ul.list-group
          = render partial: 'layouts/integral/backend/create_dropdown'

    #nav-tabContent.tab-content{ data: { turbo_permanent: true } }
      - main_menu_items.select { |item| item[:list_items]&.any? }.each do |item|
        .tab-pane.main-menu-tab(id="pane--#{item[:label]}" aria-labelledby="tab--#{item[:label]}" role="tabpanel")
          %h3.main-menu-tab-title= item[:label]
          %ul.main-menu-tab-list
            - item[:list_items].each do |list_item|
              = link_to list_item[:label], list_item[:url], wrapper: :li

    .offcanvas.offcanvas-start(tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel")
      .offcanvas-header
        = image_tag(image_path('integral/backend/logo.png'))
        %button(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
          = icon('bi bi-x')
      .offcanvas-body
        #accordionExample.accordion
          - main_menu_items.each do |item|
            - if item[:list_items]&.any?
              .accordion-item
                %h2.accordion-header(id="heading-#{item[:label]}")
                  %button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse-#{item[:label]}" aria-expanded="false" aria-controls="collapse-#{item[:label]}")
                    = icon(item[:icon])
                    = item[:label]
                .accordion-collapse.collapse(id="collapse-#{item[:label]}" aria-labelledby="heading-#{item[:label]}" data-bs-parent="#accordionExample")
                  .accordion-body
                    %ul
                      - item[:list_items].each do |list_item|
                        = link_to list_item[:label], list_item[:url], wrapper: :li
            - else
              %h2.accordion-header
                = link_to item[:label], item[:url], icon: item[:icon]
