%html
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
  %meta{ name: "ROBOTS", content: "NOINDEX, NOFOLLOW" }
  %meta{ name: 'turbolinks-root', content: "/#{Integral.backend_namespace}" }

  %title= page_title

  %link{ href: 'https://fonts.googleapis.com/css?family=Nunito:400,600', rel: 'stylesheet', type: 'text/css' }

  = javascript_pack_tag 'integral/backend'
  = stylesheet_pack_tag 'integral/backend'

  = csrf_meta_tags

  %body.wp-toolbar.toplevel_page_getdavesbe
    = yield
