- classes ||= ''

%li.accordion-item{ 'data-accordion-item' => true, class: classes }
  %a.accordion-title{ href: "##{name}-settings" }
    = icon(icon)
    %div
      %h3= t("integral.backend.settings.index.#{name}.title")
      %p= t("integral.backend.settings.index.#{name}.description")
  .accordion-content{ id: "#{name}-settings", 'data-tab-content' => true }
    = yield

