= content_for :title, t('.title')

.row
  .col-md-6= render_card(:welcome)
  .col-md-6= render_card(:recent_activity)
  - if Integral.blog_enabled? & Integral::Post.published.last.present?
    .col-md-6= render_card(:object, { title: t('.recent_post'), resource: Integral::Post.published.last.decorate })

  .col-md-6= render_card(:object, { title: t('.recent_page'), resource: Integral::Page.published.last.decorate })
  .col-md-6= render_card(:recent_user_activity)
  .col-md-6= render_card(:at_a_glance)
  .col-md-6
    .card
      %h2= t('integral.backend.cards.last_week')
      = render_line_chart(dataset_dashboard_last_week)

