= render_post_as_json_ld(@post)
-# = link_to 'Edit', edit_backend_post_url(@post.id), class: 'button primary button--edit-resource', data: { 'turbolinks' => 'false' } if current_user.present?
-# = link_to posts_url, class: 'view-all' do
-#   = icon('list')
-#   VIEW ALL BLOG POSTS


= render partial: 'integral/shared/breadcrumbs'
.grid-container
  .grid-x.grid-padding-x
    .cell.small-12.large-9
      %article.article
        %header
          %h1
            = @post.title
            - if user_signed_in?
              %span.label.entity-status{ class: @post.status }= @post.status
              %span.small= link_to 'Edit', integral.edit_backend_post_url(@post.id), class: "button medium", data: { 'turbolinks' => 'false' }
          .grid-x
            .cell.small-8
              .article-author
                %span= @post.avatar
                = @post.author.name
              %ul.list-unstyled.piped-list
                %li= @post.published_at
                %li= link_to 'Category', root_url
            .cell.small-4.text-right
              %button.button{ 'data-open' => 'share-modal' }
                = icon('share', class: 'show-for-medium')
                SHARE

        %section.wysiwyg-content
          = @post.body.html_safe
        = render partial: 'integral/posts/article_footer'
      .hide-for-large= render partial: 'similar_posts'

    .cell.small-12.large-3
      = render partial: 'integral/shared/blog_sidebar'

.grid-container.show-for-large
  = render partial: 'similar_posts'
= render partial: 'integral/shared/post_categories'
= render partial: 'integral/shared/share_modal'
= render partial: 'integral/shared/subscribe_modal'
