.col-md-4.d-flex
  .card.post-card
    = link_to integral.post_url(post.slug) do
      = image_tag post.image_url, class: 'post-card-image', alt: post.title
      .card-section
        %h3= post.title
        %p= post.description
        %ul.list-unstyled.piped-list
          %li= post.published_at
          -# %li= link_to 'Category', root_url
          %li= post.category.title
