.record--post
  %p
    %span.post--date= post.published_at
    -# %span.author= post.author
  = link_to post_url(post) do
    %h3.post--title= post.title
  = link_to post_url(post) do
    = image_tag post.image(:medium), class: 'post--image'
  - if post.tags.present?
    %ul.tag-list
      - post.tags.each do |tag|
        %li
          = link_to tag_url(tag.name) do
            = tag.name
  %p.description= post.description
  %p.text-center= link_to t('.read_more'), post_url(post), class: 'button secondary'
