.horizontal-post
  .grid-x.grid-padding-x
    .cell.small-4
      = link_to integral.post_url(post.slug) do
        = image_tag post.image, alt: post.title
    .cell.small-8.horizontal-post-body
      %h3= link_to post.title, integral.post_url(post.slug)
      %p.show-for-medium= post.description
      %ul.list-unstyled.piped-list
        %li= post.published_at
        %li= link_to post.category.title, category_path(post.category)
