= render_posts_as_json_ld(@posts.decorate)

= render layout: 'integral/shared/blog/layout', locals: { title: t('.title') } do
  - if @latest_post.present?
    = render partial: 'latest_post', locals: { post: @latest_post }
  = render partial: 'post', collection: @posts.decorate, cached: true
  = render partial: 'most_read_section' if display_most_read_posts_widget?
  .d-flex.justify-content-center= will_paginate @posts, renderer: Integral::BootstrapPaginationRenderer
