= render_posts_as_json_ld(@posts.decorate)

= render partial: 'integral/shared/breadcrumbs'
.grid-container
  %h1= t('.title')
  .grid-x.grid-padding-x
    .cell.small-12.large-9{ 'data-post-list' => true }
      - if @latest_post.present?
        = render partial: 'latest_post', locals: { post: @latest_post }
      = render partial: @posts.decorate, cached: true
      = render partial: 'most_read_section' if display_most_read_posts_widget?
      .center= will_paginate @posts, renderer: FoundationPagination::Rails
    .cell.small-12.large-3
      = render partial: 'integral/shared/blog_sidebar'
= render partial: 'integral/shared/post_categories'
= render partial: 'integral/shared/share_modal'

