= render partial: 'integral/shared/breadcrumbs'

.grid-container
  %h1= title
  .grid-x.grid-padding-x
    .cell.small-12.large-9{ 'data-post-list' => true }
      = yield
    .cell.small-12.large-3
      = render partial: 'integral/shared/blog_sidebar'
= render partial: 'integral/shared/post_categories'
