.grid-container
  %h2.blog-subheading= t('integral.blog.widgets.categories')
  .scroll-container{ 'data-item-width' => 250 }
    .grid-x.grid-margin-x.scroll-wrapper
      - Integral::Category.where(id: Integral::Post.published.select(:category_id).uniq.map(&:category_id)).each do |category|
        .cell.medium-3
          .list-widget
            .list-widget-image
              = link_to category_path(category) do
                - if category.image.present?
                  = image_tag category.image.url
                - else
                  = image_tag image_url('integral/image-not-set.png')
                .list-widget-tag= category.title
            %ul.no-bullet
              - category.posts.published.limit(4).decorate.each do |post|
                %li= link_to post.title, integral.post_path(post)

