- if github_url.present?
  %li
    = link_to github_url, target: :blank, rel: 'noopener' do
      = icon('github')
      %span Github

- if twitter_url.present?
  %li
    = link_to twitter_url, target: :blank, rel: 'noopener' do
      = icon('twitter')
      %span Twitter

- if facebook_url.present?
  %li
    = link_to facebook_url, target: :blank, rel: 'noopener' do
      = icon('facebook')
      %span Facebook

- if instagram_url.present?
  %li
    = link_to instagram_url, target: :blank, rel: 'noopener' do
      = icon('instagram')
      %span Instagram

- if linkedin_url.present?
  %li
    = link_to linkedin_url, target: :blank, rel: 'noopener'  do
      = icon('linkedin')
      %span Linkedin

- if youtube_url.present?
  %li
    = link_to youtube_url, target: :blank, rel: 'noopener' do
      = icon('youtube')
      %span Youtube
