- if github_url.present?
  %li
    = link_to github_url, target: :blank, rel: 'noopener' do
      %i.bi.bi-github
      %span Github

- if twitter_url.present?
  %li
    = link_to twitter_url, target: :blank, rel: 'noopener' do
      %i.bi.bi-twitter
      %span Twitter

- if facebook_url.present?
  %li
    = link_to facebook_url, target: :blank, rel: 'noopener' do
      %i.bi.bi-facebook
      %span Facebook

- if instagram_url.present?
  %li
    = link_to instagram_url, target: :blank, rel: 'noopener' do
      %i.bi.bi-instagram
      %span Instagram

- if linkedin_url.present?
  %li
    = link_to linkedin_url, target: :blank, rel: 'noopener'  do
      %i.bi.bi-linkedin
      %span Linkedin

- if youtube_url.present?
  %li
    = link_to youtube_url, target: :blank, rel: 'noopener' do
      %i.bi.bi-youtube
      %span Youtube
