#subscribe-modal.reveal.text-center{ data: { reveal: '' } }
  %button.close-button{ data: { close: '' }, aria: { label: "Close modal" }}
    %span{ aria: { hidden: true } } &times;

  %h3= t('integral.blog.widgets.newsletter_signup.title')
  %hr.modal-topbar

  %p= t('integral.blog.widgets.newsletter_signup.subtitle')

  = simple_form_for Integral::NewsletterSignup.new, url: newsletter_signup_url, validate: true, remote: true, html: { class: 'remote-form', data: { 'remote-form-success-message' => t('integral.blog.widgets.newsletter_signup.success') }} do |f|
    = f.input :email, placeholder: t('integral.blog.widgets.newsletter_signup.placeholder'), label: false
    = f.button :submit, t('integral.blog.widgets.newsletter_signup.submit'), class: 'button expanded'


