%tr.tr--clickable{ data: { href: backend_resource_url(resource.id), context_menu: "dropdown-pane-actions-page-#{resource.id}" }}
  = yield
  %td.actions
    %button.button--action-pane{ 'data-toggle' => "dropdown-pane-actions-page-#{resource.id}" }
      = icon('ellipsis-v')
    .dropdown-pane.dropdown-pane--actions{ id: "dropdown-pane-actions-page-#{resource.id}", data: { dropdown: true, position: :bottom, alignment: :right, close_on_click: 'true' } }
      %ul.menu.vertical
        = render partial: "#{self.controller._prefixes.first}/grid/dropdown_actions", locals: { resource: resource }
