- image ||= Integral::Image.new

#new_image_modal.reveal{ data: { 'reveal' => true, 'multiple-opened' => 'true' }}
  %button.close-button{ type: 'button', data: { close: '' }, aria: { label: "Close" }}
    %span{ aria: { hidden: 'true' } } &times;
  = simple_form_for image, validate: true, remote: true, multipart: true, authenticity_token: true, url: backend_img_index_url do |f|
    .modal-header
      %h4= t('integral.backend.images.new.title')
    .modal-content.padded
      = f.hidden_field :remote, as: :hidden, value: 'true'
      = f.input :lock_version, as: :hidden
      = f.input :title, wrapper_html: { class: 'alternative' }
      = f.input :description, as: :text, wrapper_html: { class: 'alternative' }
      = f.input :file, :wrapper_html => { :class => "file-field" }, label: false, validate: { presence: true }, input_html: { accept: "image/*" }

    .modal-footer
      = f.button :button, class: 'button', id: 'new_image_submit_btn'
