= render_data_grid do
  = render layout: 'integral/backend/shared/grid', locals: { grid: @grid, options: { columns: [:title, :updated_at, :actions], order: true }} do |grid|
    - if grid.assets.any?
      - grid.assets.decorate.each do |record|
        %tr
          %td
            %image{ src: record.url, class: :preview }
            = record.title.truncate(30)
          %td= l(record.updated_at, format: :long)
          %td.actions
            = link_to edit_backend_img_url(record) do
              = icon('edit')
            = link_to backend_img_url(record), method: :delete, data: { confirm: t('integral.actions.confirmation.deletion') } do
              = icon('remove')
    - else
      = render partial: 'integral/backend/shared/empty_grid'
