- if content_for?(:actionbar)
  = content_for(:actionbar)
- elsif render_default_action_bar?
  %ul.menu.horizontal
    - if policy(resource_klass).new?
      %li
        = link_to new_backend_resource_url, class: 'button white' do
          = icon('plus')
          = t('integral.actions.create')
          = resource_klass.model_name.human.capitalize
