- gallery_id = "js-gallery--#{Random.hex}"
.gallery-manager{ data: { controller: 'gallery-manager' } }
  .gallery.row{ class: gallery_id, data: { target: 'gallery-manager.container' } }
    = gallery.hidden_field :id
    = gallery.hidden_field :lock_version
    = gallery.simple_fields_for :list_items do |list_item|
      = render partial: 'integral/backend/shared/gallery_manager/item', locals: { f: list_item, gallery_id: gallery_id }
  = link_to_add_association gallery, :list_items, 'data-association-insertion-method' => 'append', class: 'gallery-manager--add-button', 'data-association-insertion-node' => ".#{gallery_id}", force_non_association_create: true, partial: 'integral/backend/shared/gallery_manager/item' do
    = t('integral.actions.add_image')

