- image_attr = image_attr.present? ? image_attr : :image
- help_text = help_text.present? ? help_text : ''
- image = f.object.send(image_attr)
- image_path = image&.file&.url(:medium)
- unlinkHiddenClass = image.present? ? '' : 'hide'
- placeholderHiddenClass = image.present? ? 'hide' : ''

.image-select
  = f.label image_attr
  .image-container
    = f.hidden_field "#{image_attr}_id"
    = image_tag image_url('integral/image-not-set.png'), class: "placeholder #{placeholderHiddenClass}"
    %img.actual{ src: image_path }
    %ul.menu.align-left.menu-unlinked{ class: placeholderHiddenClass }
      %li
        %button.button.clear.add
          = t('integral.actions.add_image')

    %ul.menu.align-right.menu-linked{ class: unlinkHiddenClass }
      %li
        %button.button.clear.remove
          = icon('trash')
      %li
        %button.button.clear.edit
          = icon('pencil-square-o')

  - if help_text.present?
    %br
    %p.help-text= help_text

