:ruby
  image = f.object.send(image_attr)
  image_path = if image&.file&.attached?
                 rails_representation_url(image.file.variant(resize: '400x400').processed)
               end
  unlinkHiddenClass = image.present? ? '' : 'hide'
  placeholderHiddenClass = image.present? ? 'hide' : ''

.image-select
  -# = f.label image_attr
  .image-container
    = f.hidden_field "#{image_attr}_id"
    = image_tag image_url('integral/image-not-set.png'), class: "placeholder #{placeholderHiddenClass}"
    %img.actual{ src: image_path }
    %ul.menu.align-left.menu-unlinked{ class: placeholderHiddenClass }
      %li
        %button.button.clear.add
          = t('integral.actions.add_image')

    %ul.menu.align-right.menu-linked{ class: unlinkHiddenClass }
      %li
        %button.button.clear.remove
          = icon('trash')
      %li
        %button.button.clear.edit
          = icon('pencil-square-o')
