:ruby
  if subscribable.is_a?(Class)
    subscribable_id = nil
    subscribable_type = subscribable.name
  else
    subscribable_id = subscribable.id
    subscribable_type = subscribable.class.name
  end
  receives_notifications = current_user.receives_notifications_for?(subscribable)

%div{ data: { controller: 'notification-subscription' }}
  = simple_form_for :subscription, url: backend_notification_subscription_url(id: 1), remote: true, method: :put, html: { data: { controller: 'remote-form', action: 'turbo:submit-end->notification-subscription#unsubscribe turbo:submit-end->remote-form#displayToast', target: 'notification-subscription.unsubscribeForm', remote_form_success_message: "You have unsubscribed from notifications." }, class: receives_notifications ? '' : 'd-none' } do |f|
    = f.hidden_field :state, value: :unsubscribed
    = f.hidden_field :subscribable_type, value: subscribable_type
    = f.hidden_field :subscribable_id, value: subscribable_id
    = f.button :button, class: 'btn btn-clear', data: { tooltip: true, position: :left, alignment: :center }, title: t('integral.tooltips.unsubscribe') do
      = icon('bi bi-bell-slash')
  = simple_form_for :subscription, url: backend_notification_subscription_url(id: 1), remote: true, method: :put, html: { data: { controller: 'remote-form', action: 'turbo:submit-end->notification-subscription#subscribe turbo:submit-end->remote-form#displayToast', target: 'notification-subscription.subscribeForm', remote_form_success_message: "You have subscribed to notifications." }, class: receives_notifications ? 'd-none' : '' } do |f|
    = f.hidden_field :state, value: :subscribed
    = f.hidden_field :subscribable_type, value: subscribable_type
    = f.hidden_field :subscribable_id, value: subscribable_id
    = f.button :button, class: 'btn btn-clear', data: { tooltip: true, position: :left, alignment: :center }, title: t('integral.tooltips.subscribe') do
      = icon('bi bi-bell')
