%h1= t('.title')
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), wrapper: :floating_labels_form) do |f|
  = f.input :email, autofocus: true, input_html: { class: 'mb-3', value: Rails.env.development? ? Integral::User.first&.email : nil, placeholder: 'name@example.com' }
  .form-actions
    = f.button :button, "Reset password", class: 'btn btn-primary w-100'
.text-center
  = render "devise/shared/links"
