- if policy(resource_klass).update?
  = link_to t('integral.actions.edit'), edit_backend_resource_url(resource), icon: :edit, wrapper: :li
= link_to t('integral.actions.open_in_new_tab'), backend_resource_url(resource), target: :blank, icon: 'external-link-alt', wrapper: :li
- if policy(Integral::Version).manager?
  = link_to t('integral.actions.view_history'), activities_backend_resource_url(resource), icon: :history, wrapper: :li
- if policy(resource_klass).manager?
  %li
    - if resource.blocked?
      = link_to unblock_backend_user_url(resource), method: :put, data: { confirm: t('integral.actions.confirmation.unblock') } do
        = icon('unlock')
        = t('integral.actions.unblock')
    - else
      = link_to block_backend_user_url(resource), method: :put, data: { confirm: t('integral.actions.confirmation.block') } do
        = icon('ban')
        = t('integral.actions.block')
- if policy(resource_klass).destroy?
  = link_to t('integral.actions.delete'), backend_resource_url(resource), method: :delete, data: { confirm: t('integral.actions.confirmation.deletion') }, icon: :trash, wrapper: :li
