:ruby
  category ||= Integral::Category.new
  modal_id ||= 'modal-create-category'
  slug_id = "category_title_#{(Time.now.to_f * 1000).to_i}"

.modal{ id: modal_id, tabindex: "-1" }
  .modal-dialog
    = simple_form_for [:backend, category], validate: true, html: { data: { controller: 'remote-form', action: 'turbo:submit-end->remote-form#enableButton turbo:submit-end->remote-form#displayErrorToast turbo:submit-end->remote-form#redirectOnSuccess turbo:submit-start->remote-form#disableButton' }} do |f|
      .modal-content
        .modal-header
          %h2.modal-title= title
          %button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
        .modal-body
          = f.input :title, wrapper_html: { class: 'alternative' }, input_html: { id: slug_id }
          = f.input :slug, wrapper_html: { class: 'alternative' }, input_html: { data: { slugify: "##{slug_id}" } }
          = f.input :description, as: :text, wrapper_html: { class: 'alternative' }
          - if Integral.multilingual_frontend?
            = f.input :locale, wrapper_html: { class: 'alternative' }, collection: Integral.frontend_locales.map { |locale| [t("integral.language.#{locale}"), locale] }, include_blank: false
          %hr
          .row
            .col-md-8.p-0
              = render partial: 'integral/backend/shared/image_preview', locals: { f:f }
        .modal-footer
          = f.submit nil, class: 'btn btn-primary'
