- url = alternate.persisted? ? backend_post_url(alternate.id) : root_url

.alternate-resource
  %input{ type: :hidden, name: 'post[alternate_ids][]', value: alternate.id }
  .alternate-resource--info
    %h4.alternate-resource--title
      %span= alternate.title
      = link_to url, target: :blank do
        = icon('external-link')
    %p.alternate-resource--description= alternate.description.truncate(100)
    %small.alternate-resource--path= alternate.slug
  .alternate-resource--actions
    %button.btn.btn-clear.alternate-resource--button{ type: :button, data: { action: 'alternate-resource#remove' } }= icon('bi bi-trash')
