= simple_form_for [:backend, @resource], validate: true, html: { id: 'resource_form', class: 'are-you-sure', 'data-confirm-dirty-form' => true } do |f|
  = f.input :lock_version, as: :hidden
  .grid-x
    .cell.medium-9
      .grid-y
        = f.input :title, input_html: { id: 'resource_title' }
        = f.input :description
        = f.input :slug, input_html: { data: { slugify: '#resource_title' }}
        = f.input :body, as: :ckeditor, input_html: { value: @resource.editor_body, id: 'resource_body_editor', ckeditor: { language: current_user.locale }, data: { 'ckeditor-class' => 'integral-post' } }

    .cell.medium-3
      .grid-y
        .cell
          .card
            = f.label(:status)
            %hr.dark
            .radios= f.collection_radio_buttons :status, resource_klass.available_statuses, :last, :first
            %hr.dark
            = f.button :button if f.object.persisted?
        = f.input :category_id, collection: Integral::Category.all.map{ |category| [category.title, category.id] }, include_blank: false
        = f.input :tag_list, input_html: { value: @resource.tag_list_on(@resource.tag_context).join(','), data: { suggest_tags: true, suggest_tags_typeahead: resource_klass.tags_on('published').map(&:name).join(' ') } }
        = f.association :user
        = render partial: 'integral/backend/shared/image_preview', locals: { f:f }
        = render partial: 'integral/backend/shared/image_preview', locals: { f:f, image_attr: :preview_image, help_text: 'This is displayed when sharing socially, leave blank to fallback to the featured image.' }
    .cell= f.button :button
