= render_data_grid do
  = render layout: 'integral/backend/shared/grid', locals: { grid: @grid, options: { columns: [:title, :user, :status, :view_count, :updated_at, :actions], order: true }} do |grid|
    - if grid.assets.any?
      - grid.assets.decorate.each do |record|
        %tr.tr--clickable{ data: { href: backend_post_url(record.id), context_menu: "dropdown-pane-actions-post-#{record.id}" }}
          %td.actions
            %button.button--action-pane{ 'data-toggle' => "dropdown-pane-actions-post-#{record.id}" }
              = icon('ellipsis-v')
            .dropdown-pane.dropdown-pane--actions{ id: "dropdown-pane-actions-post-#{record.id}", data: { dropdown: true, position: :bottom, alignment: :right, close_on_click: 'true' } }
              %ul.menu.vertical
    - else
      = render partial: 'integral/backend/shared/empty_grid'
