= content_for :title, t('.title', name: @resource.title)

= content_for :actionbar do
  %ul.menu.horizontal
    = link_to t('integral.actions.view_on_site'), post_url(@resource), class: 'button white', icon: :eye, wrapper: :li
    - if policy(resource_klass).duplicate?
      = link_to t('integral.actions.clone'), duplicate_backend_resource_url(@resource.id), class: 'button white', method: :post, data: { confirm: t('integral.actions.confirmation.clone') }, icon: :history, wrapper: :li
    - if policy(Integral::Version).manager?
      = link_to t('integral.navigation.activity'), activities_backend_resource_url(@resource.id), class: 'button white', icon: :history, wrapper: :li

= render 'form'
