-# TODO: Move this into the default actionbar from other branch - may need to render different action bars depending on .. controller action
= content_for :actionbar do
  %ul.menu.horizontal
    %li= render partial: 'integral/backend/shared/notification_subscription_toggle', locals: { subscribable: resource_klass }

.grid-x.grid-padding-x
  -# Left Column
  .cell.large-6
    .grid-x.grid-padding-x
      .cell= render_card(:recent_posts)
      .cell= render_card(:categories)
      .cell= render_card(:at_a_glance, { dataset: dataset_at_a_glance_posts })

  -# Right Column
  .cell.large-6
    .grid-x.grid-padding-x
      .cell= render_card(:recent_activity)
      .cell.large-6= render_card(:recent_user_activity)
      .cell.large-6= render_card(:top_post_authors)
