.grid-x.grid-padding-x
  .cell.large-6
    .card
      .card-section
        .card-action-title
          %h2 Categories
          %button.button.hollow{ 'data-open' => 'new_category_modal' } Create
        %table
          - Integral::Category.all.decorate.each do |category|
            %tr
              %td= category.title
              %td
                %span.badge= category.posts.count
              %td
                %button.button--action-pane{ 'data-toggle' => "dropdown-pane-actions-category-#{category.id}" }
                  = icon('ellipsis-v')
                .dropdown-pane.dropdown-pane--actions{ id: "dropdown-pane-actions-category-#{category.id}", data: { dropdown: true, position: :bottom, alignment: :right, close_on_click: 'true' } }
                  %ul.menu.vertical
                    %li
                      %button{ data: { modal_url: edit_backend_category_url(category.id), button_edit_category: "modal--category-edit-#{category.id}" } }
                        = icon('ellipsis-v')
                        = t('integral.actions.edit')
                      -# = link_to edit_backend_category_url(category.id), data: { 'button-edit-category' => "modal--category-edit-#{category.id}" }, remote: true do
                      -#   = icon('ellipsis-v')
                      -#   = t('integral.actions.edit')

                    %li
                      %button.disabled
                        = icon('ellipsis-v')
                        = t('integral.actions.delete')

= render partial: 'integral/backend/categories/modal', locals: { title: 'Category Creation' }

.record-image
  = render partial: 'integral/backend/shared/image_selector'
