= content_for :title, @resource.title

-# TODO: Move this into the default actionbar from other branch - may need to render different action bars depending on .. controller action
= content_for :actionbar do
  %ul.menu.horizontal
    %li= render partial: 'integral/backend/shared/notification_subscription_toggle', locals: { subscribable: @resource }

.grid-x
  .cell.large-6
    -# Left Column
    .grid-x.grid-padding-x
      .cell
        .card
          .card-section
            %h2= @resource.title
            %p.subtitle= @resource.description
            %hr

            .grid-x.actions
              .cell.xlarge-8.xxlarge-6
                .grid-x.small-up-2
                  .cell
                    = link_to post_url(@resource) do
                      = icon('eye')
                      = t('integral.actions.view_on_site')
                  - if policy(Integral::Post).manager?
                    .cell
                      = link_to edit_backend_post_url(@resource.id) do
                        = icon('edit')
                        = t('integral.actions.edit')
                  - if policy(Integral::Post).duplicate?
                    .cell
                      = link_to duplicate_backend_post_url(@resource.id), method: :post, data: { confirm: t('integral.actions.confirmation.clone') } do
                        = icon('clone')
                        = t('integral.actions.clone')
                  - if policy(Integral::Post).manager?
                    .cell
                      = link_to backend_post_url(@resource.id), method: :delete, data: { confirm: t('integral.actions.confirmation.deletion') } do
                        = icon('remove')
                        = t('integral.actions.delete')
                  - if policy(Integral::Version).manager?
                    .cell
                      = link_to activities_backend_post_url(@resource.id) do
                        = icon('history')
                        = t('integral.actions.view_history')

      .cell.medium-6.flex-container= render_card(:object, { title: 'Essentials', record: @resource })
      .cell.medium-6.flex-container= render_card(:recent_user_activity)
  .cell.large-6
    -# Right Column
    .grid-x.grid-padding-x
      .cell= render_card(:recent_activity)
      -# Could use the at_a_glance card to show user edits
      -# .cell= render_card(:at_a_glance, { dataset: dataset_dashboard_atg })
      -# .cell
      -#   .card
      -#     .card-section
      -#       %h2= t('integral.backend.cards.last_week')
      -#       = render_line_chart(dataset_dashboard_last_week)
