= content_for :title, @resource.title

.row
  .col-md-6
    .card.card-summary
      %h2= @resource.title
      %p= @resource.description
      %hr
      .list-group.list-group-summary
        %li.list-group-item
          = link_to t('integral.actions.view_on_site'), @resource.frontend_url, icon: 'bi bi-eye'
        %li.list-group-item
          - if policy(resource_klass).manager?
            = link_to t('integral.actions.edit'), edit_backend_resource_url(@resource), icon: 'bi bi-pencil'
        %li.list-group-item
          - if policy(resource_klass).duplicate?
            %button.btn.btn-link{ data: { controller: 'confirmation', action: 'confirmation#confirm', href: duplicate_backend_resource_url(@resource), method: :post, message: t('integral.actions.confirmation.clone') }}
              = icon('bi bi-clipboard')
              = t('integral.actions.clone')
        - if policy(resource_klass).manager?
          %li.list-group-item
            %button.btn.btn-link{ data: { controller: 'confirmation', action: 'confirmation#confirm', href: backend_resource_url(@resource), method: :delete, message: t('integral.actions.confirmation.deletion') }}
              = icon('bi bi-trash')
              = t('integral.actions.delete')
        %li.list-group-item
          - if policy(Integral::Version).manager?
            = link_to t('integral.actions.view_history'), activities_backend_resource_url(@resource), icon: 'bi bi-clock-history'

  .col-md-6= render_card(:object, { title: 'Essentials', resource: decorated_resource })
  - if Integral.multilingual_frontend?
    .col-md-6= render_card(:resource_alternates)

  .col-md-6= render_card(:recent_user_activity)
  .col-md-6= render_card(:recent_activity)
