%td= l(resource.created_at)
%td
  - if resource.whodunnit.present?
    = link_to backend_user_url(resource.whodunnit.id) do
      = resource.whodunnit.avatar_circle
      = resource.whodunnit.name
%td
  %span.badge.bg-secondary= resource.event
%td= resource.item_type.constantize.model_name.human
%td
  = link_to resource.item_url do
    = resource.item_title
