%td= l(resource.created_at)
%td
  - if resource.whodunnit.present?
    = link_to backend_user_url(resource.whodunnit.id) do
      %span.label.clear
        = image_tag resource.whodunnit.avatar.url(:thumbnail), class: :avatar
        = resource.whodunnit.name
%td
  %span.label= resource.event
%td= resource.item_type.constantize.model_name.human
%td
  = link_to resource.item_url do
    = resource.item_title
