= render_data_grid do
  = render layout: 'integral/backend/shared/grid', locals: { grid: grid, options: { columns: [:date, :user, :action, :attributes_changed, :actions], order: true }} do |grid|
    - if grid.assets.any?
      - grid.assets.decorate.each do |activity|
        %tr
          %td= l(activity.created_at)
          %td
            - if activity.whodunnit.present?
              = link_to backend_user_url(activity.whodunnit.id) do
                %span.label.clear
                  = image_tag activity.whodunnit.avatar.url(:thumbnail), class: :avatar
                  = activity.whodunnit.name
          %td
            %span.label= activity.event
          %td= activity.attributes_changed
          %td.actions
            = link_to activity.url do
              = icon('eye')
    - else
      = render partial: 'integral/backend/shared/empty_grid'
