- options = { columns: [:date, :user, :action, :actions], order: true }

= render_data_grid do
  %table.table--resources
    %thead
      %tr
        - grid.html_columns(*options[:columns]).uniq { |col| col.name }.sort_by{ |item| options[:columns].index item.name }.each do |column|
          %th{ class: datagrid_column_classes(grid, column) }
            - if column.supports_order? && options[:order]
              %button{ data: { sort: column.name, desc: (!grid.descending).to_s }}
                = column.header
            - else
              = column.header
    %tbody
      - if grid.assets.any?
        - grid.assets.decorate.each do |activity|
          %tr
            %td= l(activity.created_at)
            %td
              - if activity.whodunnit.present?
                = link_to backend_user_url(activity.whodunnit.id) do
                  %span.label.clear
                    = image_tag activity.whodunnit.avatar_url, class: :avatar
                    = activity.whodunnit.name
            %td
              %span.label= activity.event
            -# Currently not possible to show this as changeset isn't available in the query resultset for performance reasons - One possible solution would be to create a Grid class for each Version - rather than unioning all the tables it only includes it's own
            -# %td= activity.attributes_changed
            %td.actions
              = link_to activity.url do
                = icon('eye')
      - else
        = render partial: 'integral/backend/shared/grid/empty'

  .top-bar
    .top-bar-left
      = render partial: 'integral/backend/shared/grid/pagination', locals: { records: grid.assets }
    .top-bar-right
      %p
        = link_to t('integral.actions.clear_filters'), { clear_retained_options: true }
        |
        = page_entries_info grid.assets, model: Integral::Version
  = icon('spinner', class: 'fa-pulse fa-3x fa-fw load-indicator')
