.card.listing
  .card-section
    = simple_form_for :grid, url: form_url, method: :get, remote: true, html: { id: :grid_form, 'data-type' => :json } do |f|
      = f.hidden_field(:descending, value: @grid.descending, class: 'desc-field')
      = f.hidden_field(:order, value: @grid.order, class: 'order-field')
      = f.hidden_field(:page, value: grid_options[:page], class: 'page-field')

      .top-bar
        .top-bar-right
          %ul.align-right.menu.filters
            %li= f.input :user, collection: Integral::User.all.map {|u| [u.name, u.id]}, label: t('integral.records.attributes.user'), wrapper_html: { class: 'filter' }, input_html: { 'data-filter' => true }, required: false
            %li= f.input :action, collection: Integral::Version.available_actions, label: 'Action', wrapper_html: { class: 'filter' }, input_html: { 'data-filter' => true }, required: false

    = render partial: 'integral/backend/activities/shared/grid', locals: { grid: @grid }
