- content_for :title, t('.title', title: decorated_resource.title)
.card
  = simple_form_for @grid, as: :grid, url: form_url, html: { id: :grid_form, novalidate: true } do |f|
    = f.hidden_field(:descending, value: @grid.descending, class: 'desc-field')
    = f.hidden_field(:order, value: @grid.order, class: 'order-field')
    = f.hidden_field(:page, value: resource_grid_options[:page], class: 'page-field')

    .d-flex.justify-content-end
      %ul.list-group.list-group-filters
        %li= f.input :user, collection: Integral::User.all.map {|u| [u.name, u.id]}, wrapper_html: { class: 'alternative' }, input_html: { multiple: true, data: { filter: true, controller: 'grid-filter' } }
        %li= f.input :action, collection: Integral::Version.available_actions, wrapper_html: { class: 'alternative' }, input_html: { multiple: true, data: { filter: true, controller: 'grid-filter' } }

  = render partial: 'integral/backend/activities/shared/grid', locals: { grid: @grid }

