- content_for :title, t('integral.navigation.activity_log')
.grid-x
  .cell.medium-9
    .card-unpadded.object
      .card-section
        %h2 Activity Data
        -# - if record.to_card[:image].present?
        -#   = image_tag record.to_card[:image]
        -# - else
        -#   = image_tag image_url('integral/defaults/no_image_available.jpg')
        %p.description= record.title
        .info-item
          %span.attr Date
          %span.val= l(@activity.created_at)
        .info-item
          %span.attr Time
          %span.val= l(@activity.created_at)
        .info-item
          %span.attr Action
          %span.val= @activity.event
        .info-item
          %span.attr User
          - if @activity.whodunnit.present?
            = link_to backend_user_url(@activity.whodunnit.id) do
              %span.val.thumb
                = image_tag @activity.whodunnit.avatar.url(:thumbnail), class: :avatar
                = @activity.whodunnit.name

  .cell.medium-3
    %ul.menu.vertical
      %li
        = link_to @activity.item_url, class: 'button white' do
          = icon('eye')
          = t('integral.actions.view_record')
      - if @activity.whodunnit.present?
        %li
          = link_to backend_user_url(@activity.whodunnit.id), class: 'button white' do
            = icon('eye')
            = t('integral.actions.view_user')
      -# %li
      -#   = link_to @activity.item_url, class: 'button white' do
      -#     = icon('chevron-circle-left ')
      -#     = t('integral.navigation.previous')
      -# %li
      -#   = link_to @activity.item_url, class: 'button white' do
      -#     = icon('chevron-circle-right ')
      -#     = t('integral.navigation.next')

  .cell.small-12.medium-9
    .card
      .card-section
        %h2 Changes
        - @activity.changeset.each do |key, changeset|
          %hr
          %p= key
          = Diffy::Diff.new(changeset[0], changeset[1], context: 1).to_s(:html_simple).html_safe
