= render_data_grid do
  = render layout: 'integral/backend/shared/grid', locals: { grid: @grid, options: { columns: [:title, :path, :status, :updated_at, :actions], order: true }} do |grid|
    - if grid.assets.any?
      - grid.assets.decorate.each do |record|
        %tr
          %td= record.title.truncate(30)
          %td= record.path
          %td
            %span.label= t("integral.records.status.#{record.status}")
          %td= l(record.updated_at, format: :long)
          %td.actions
            = link_to record.path do
              = icon('eye')
            - if policy(Integral::Page).update?
              = link_to edit_backend_page_url(record) do
                = icon('edit')
            - if policy(Integral::Page).destroy?
              = link_to backend_page_url(record), method: :delete, data: { confirm: t('integral.actions.confirmation.deletion') } do
                = icon('remove')
    - else
      = render partial: 'integral/backend/shared/empty_grid'
