= content_for :title, t('.title', title: @resource.title)

= content_for :actionbar do
  %ul.menu.horizontal
    %li
      = link_to @resource.path, class: 'button white' do
        = icon('eye')
        = t('integral.actions.view')
    - if policy(Integral::Version).manager?
      %li
        = link_to activities_backend_page_url(@resource.id), class: 'button white' do
          = icon('history')
          = t('integral.navigation.activity')

= render 'form'
