= content_for :title, t('.title', title: @resource.title)

= content_for :actionbar do
  %ul.menu.horizontal
    %li
      - if @resource.archived?
        %button.button.white.disabled{ data: { tooltip: true, click_open: 'false' }, title: 'Archived pages cannot be viewed' }
          = icon('eye')
          = t('integral.actions.view_on_site')
      - else
        = link_to @resource.path, class: 'button white' do
          = icon('eye')
          = t('integral.actions.view_on_site')

    - if policy(Integral::Page).duplicate?
      %li
        = link_to duplicate_backend_page_url(@resource.id), class: 'button white', method: :post, data: { confirm: t('integral.actions.confirmation.clone') } do
          = icon('history')
          = t('integral.actions.clone')
    - if policy(Integral::Version).manager?
      %li
        = link_to activities_backend_page_url(@resource.id), class: 'button white' do
          = icon('history')
          = t('integral.navigation.activity')

= render 'form'
