.row
  .col-md-6= render_card(:recent_resources)
  .col-md-6= render_card(:at_a_glance)
  .col-md-6= render_card(:recent_activity)
  .col-md-6= render_card(:recent_block_lists)
  .col-md-6= render_card(:recent_user_activity)
