- if policy(resource_klass).update?
  = link_to t('integral.actions.edit'), edit_backend_resource_url(resource), icon: 'bi bi-pencil', wrapper: :li
= link_to t('integral.actions.open_in_new_tab'), backend_resource_url(resource), target: :blank, icon: 'bi bi-box-arrow-up-right', wrapper: :li
- if policy(resource_klass).duplicate?
  = link_to t('integral.actions.clone'), duplicate_backend_resource_url(resource), method: :post, data: { confirm: t('integral.actions.confirmation.clone') }, icon: 'bi bi-clipboard', wrapper: :li
- if policy(Integral::Version).manager?
  = link_to t('integral.actions.view_history'), activities_backend_resource_url(resource), icon: 'bi bi-clock-history', wrapper: :li
- if policy(resource_klass).destroy?
  = link_to t('integral.actions.delete'), backend_resource_url(resource), method: :delete, data: { confirm: t('integral.actions.confirmation.deletion') }, icon: 'bi bi-trash', wrapper: :li
