.card
  .row
    .col-md-6
      = render 'input', f: f, name: 'twitter_url'
    .col-md-6
      = render 'input', f: f, name: 'facebook_url'
    .col-md-6
      = render 'input', f: f, name: 'instagram_url'
    .col-md-6
      = render 'input', f: f, name: 'linkedin_url'
    .col-md-6
      = render 'input', f: f, name: 'youtube_url'
    .col-md-6
      = render 'input', f: f, name: 'github_url'
