%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
  %meta{ name: "ROBOTS", content: "NOINDEX, NOFOLLOW" }
  %meta{ name: 'turbolinks-root', content: "/#{Integral.backend_namespace}" }

  %title= page_title

  %link{ href: 'https://fonts.googleapis.com/css?family=Nunito:400,600', rel: 'stylesheet', type: 'text/css' }

  = stylesheet_link_tag    'integral/backend', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'integral/backend', 'data-turbolinks-track' => true
  = javascript_pack_tag 'integral/backend'

  = csrf_meta_tags

