.card
  .d-flex.justify-content-between
    %h2 Categories
    %button.btn.btn-outline-primary{ 'data-open' => 'new_category_modal' } Create
  %table.table.table-striped
    - Integral::Category.all.decorate.each do |category|
      %tr
        %td= category.title
        %td
          %span.badge.bg-secondary= category.posts.count
        %td
          %button.btn.btn-link{ data: { modal_url: edit_backend_category_url(category.id), button_edit_category: "modal--category-edit-#{category.id}" } }
            = icon('bi bi-pencil')
          - if category.posts.count.zero?
            %button.btn.btn-link{ data: { controller: 'confirmation', action: 'confirmation#confirm', message: t('integral.actions.confirmation.deletion'), method: :delete, href: backend_category_url(category) }}
              = icon('bi bi-trash')
          - else
            %button.btn.btn-link.disabled{ disabled: true, title: "Cannot delete categories which include posts.", data: { tooltip: true, position: "bottom", alignment: "center" } }
              = icon('bi bi-trash')


-# = render partial: 'integral/backend/categories/modal', locals: { title: 'Category Creation' }


          -# %button.button--action-pane{ 'data-toggle' => "dropdown-pane-actions-category-#{category.id}" }
          -#   = icon('ellipsis-v')
          -# .dropdown-pane.dropdown-pane--actions{ id: "dropdown-pane-actions-category-#{category.id}", data: { dropdown: true, position: :bottom, alignment: :right, close_on_click: 'true' } }
          -#   %ul.menu.vertical
          -#     %li
          -#       %button{ data: { modal_url: edit_backend_category_url(category.id), button_edit_category: "modal--category-edit-#{category.id}" } }
          -#         = icon('edit')
          -#         = t('integral.actions.edit')
          -#     %li
          -#       - if category.posts.count.zero?
          -#         = link_to backend_category_url(category.id), method: :delete, data: { confirm: t('integral.actions.confirmation.deletion'), button_delete_category: true }, remote: true do
          -#           = icon('remove')
          -#           = t('integral.actions.delete')
          -#
          -#
          -#       - else
          -#         %button.disabled{ title: "Cannot delete categories which include posts.", data: { tooltip: true, position: "bottom", alignment: "center" } }
          -#           = icon('remove')
          -#           = t('integral.actions.delete')
          -#
