.card
  .d-flex.justify-content-between
    %h2 Categories
    %button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#modal-create-category")= t('integral.actions.create')
  %table.table.table-striped
    - Integral::Category.all.decorate.each do |category|
      %tr
        %td= category.title
        %td
          %span.badge.bg-secondary= category.posts.count
        %td
          %button.btn.btn-link{ data: { controller: 'category-edit-button', action: 'category-edit-button#openModal', modal_url: edit_backend_category_url(category.id), button_edit_category: "modal--category-edit-#{category.id}" } }
            = icon('bi bi-pencil')
          - if category.posts.count.zero?
            %button.btn.btn-link{ data: { controller: 'confirmation', action: 'confirmation#confirm', message: t('integral.actions.confirmation.deletion'), method: :delete, href: backend_category_url(category) }}
              = icon('bi bi-trash')
          - else
            %button.btn.btn-link.disabled{ disabled: true, title: "Cannot delete categories which include posts.", data: { tooltip: true, position: "bottom", alignment: "center" } }
              = icon('bi bi-trash')

= render partial: 'integral/backend/categories/modal', locals: { title: 'Category Creation' }
