-# This partial could be updated to allow for customising the rows, scope and title
.card
  .card-body
    %h2
      Recent
      = resource_klass.model_name.human.pluralize
    %table.table.table-striped
      - resource_klass.limit(5).order('updated_at DESC').decorate.each do |resource|
        %tr
          %td= resource.title
          %td
            = link_to backend_resource_url(resource), class: 'button--action-pane' do
              = icon('bi bi-eye')
            -# = link_to edit_backend_resource_url(resource), class: 'button--action-pane' do
            -#   = icon('edit')

    = link_to t('integral.actions.view_all'), list_backend_resources_url, class: 'btn btn-light w-100'
