.card.card-summary
  %h2= t('.title')
  %p.subtitle= t('.get_started')
  %hr
  .list-group
    %li.list-group-item
      = link_to edit_backend_user_url(current_user) do
        = icon('bi bi-pencil')
        = t('integral.actions.edit_profile')
    - if policy(Integral::Page).manager?
      %li.list-group-item
        = link_to new_backend_page_url do
          = icon('bi bi-plus')
          = t('integral.actions.new_page')
    - if policy(Integral::Post).manager? && Integral.blog_enabled?
      %li.list-group-item
        = link_to new_backend_post_url do
          = icon('bi bi-plus')
          = t('integral.actions.new_post')
    %li.list-group-item
      = link_to root_path do
        = icon('bi bi-eye')
        = t('integral.actions.view_main_site')

