.resource-selector-placeholder
  = render partial: 'integral/backend/shared/resource_selector/resource', locals: { list_item: { image: '', title: '', subtitle: '' }}

- if collection.empty?
  %p.text-center.no-records
    = t('integral.backend.tables.no_data_available')
    = image_tag image_path('integral/backend/data-unavailable.png')
- else
  = render partial: 'integral/backend/shared/resource_selector/resource', collection: collection.map(&:to_list_item), as: :list_item
  .col-12.d-flex.justify-content-center
    = will_paginate collection, renderer: Integral::BootstrapPaginationRenderer
