.placeholder
  = render partial: 'integral/backend/shared/record_selector/record', locals: { list_item: { image: '', title: '', subtitle: '' }}

- if collection.empty?
  %p.text-center.no-records
    = t('integral.backend.tables.no_data_available')
    = image_tag image_path('integral/backend/data-unavailable.png')
- else
  .grid-x
    - collection.each do |obj|
      = render partial: 'integral/backend/shared/record_selector/record', locals: { list_item: obj.to_list_item }
    .cell.text-center
      = will_paginate collection, renderer: FoundationPagination::Rails
