= link_to t('integral.navigation.dashboard'), backend_dashboard_url, wrapper: :li, icon: :home

- if policy(Integral::Page).index?
  %li
    = link_to t('integral.navigation.pages'), backend_pages_url, icon: :file
    %ul
      %li= t('integral.navigation.pages')
      = link_to t('integral.navigation.dashboard'), backend_pages_url, wrapper: :li
      - if policy(Integral::Page).create?
        = link_to t('integral.actions.create'), new_backend_page_url, wrapper: :li
      = link_to t('integral.navigation.listing'), list_backend_pages_url, wrapper: :li

- if policy(Integral::Post).index? && Integral.blog_enabled?
  %li
    = link_to t('integral.navigation.posts'), backend_posts_url, icon: :rss
    %ul
      %li= t('integral.navigation.posts')
      = link_to t('integral.navigation.dashboard'), backend_posts_url, wrapper: :li
      - if policy(Integral::Post).create?
        = link_to t('integral.actions.create'), new_backend_post_url, wrapper: :li
      = link_to t('integral.navigation.listing'), list_backend_posts_url, wrapper: :li

- if policy(Integral::List).index?
  %li
    = link_to t('integral.navigation.lists'), backend_lists_url, icon: :list
    %ul
      %li= t('integral.navigation.lists')
      = link_to t('integral.navigation.dashboard'), backend_lists_url, wrapper: :li
      - if policy(Integral::List).create?
        = link_to t('integral.actions.create'), new_backend_list_url, wrapper: :li

- if policy(Integral::Image).manager?
  %li
    = link_to t('integral.navigation.images'), backend_img_index_url, icon: 'picture-o'
    %ul
      %li= t('integral.navigation.images')
      = link_to t('integral.navigation.dashboard'), backend_img_index_url, wrapper: :li
      - if policy(Integral::Image).create?
        = link_to t('integral.actions.create'), new_backend_img_url, wrapper: :li
      = link_to t('integral.navigation.listing'), list_backend_img_index_url, wrapper: :li

- if policy(current_user).manager?
  %li
    = link_to t('integral.navigation.users'), backend_users_url, icon: :users
    %ul
      %li= t('integral.navigation.users')
      = link_to t('integral.navigation.dashboard'), backend_users_url, wrapper: :li
      = link_to t('integral.actions.create'), new_backend_user_url, wrapper: :li
      = link_to t('integral.navigation.listing'), list_backend_users_url, wrapper: :li

- if policy(Integral::Version).manager?
  = link_to t('integral.navigation.activities'), backend_activities_url, icon: :crosshairs, wrapper: :li

- if current_user.admin?
  = link_to t('integral.navigation.settings'), backend_settings_url, icon: :cog, wrapper: :li
