= render_data_grid do
  = render layout: 'integral/backend/shared/grid', locals: { grid: @grid, options: { columns: [:url, :performance_score, :created_at, :actions], order: true }} do |grid|
    - if grid.assets.any?
      - grid.assets.decorate.each do |record|
        %tr
          %td= record.url.truncate(30)
          %td= record.performance_score
          -# %td
          -#   - if record.user.present?
          -#     = image_tag record.user.avatar.url(:thumbnail), alt: record.user.name, class: 'avatar'
          -#     = record.user.name
          -#   - else
          -#     "#{record.user_id} [Deleted]"
          -# %td
          -#   %span.label= t("integral.records.status.#{record.status}")
          -# %td= number_with_delimiter(record.view_count)
          %td= l(record.created_at, format: :long)
          %td.actions
            -# = link_to edit_backend_post_url(record) do
            -#   = icon('edit')
    - else
      = render partial: 'integral/backend/shared/empty_grid'
