-# = render 'item_container', f: f, children_allowed: false
- formatted_item = Integral::ListItemRenderer.new(f.object)
- children_allowed ||= false

.list-item-container
  = f.input :priority, as: :hidden, input_html: { class: 'priority-field' }
  .list-item{ 'data-persisted' => "#{f.object.persisted?}" }
    = render 'item_modal', f:f, formatted_item: formatted_item
    .type
      %i.bi.bi-list.identifier
    .data
      %span.title= formatted_item.title
      %span.url= formatted_item.url
    .actions
      %button.btn.btn-link(type="button" data-bs-toggle="modal" data-bs-target="#list-item-modal-#{f.object.id}")
        %i.bi.bi-pencil

      - if children_allowed
        .add-children
          = link_to_add_association f, :children, 'data-association-insertion-method' => 'prepend', force_non_association_create: true do
            %i.bi.bi-plus.action

  - if children_allowed
    .children.sortable.d-none
      = f.simple_fields_for :children do |list_item|
        = render 'child_fields', f: list_item

