= simple_form_for [:backend, @resource], validate: true, html: { class: 'are-you-sure', 'data-confirm-dirty-form' => true, id: :list_form } do |f|
  = f.input :lock_version, as: :hidden
  .row
    .col-md-8
      .form-group-list
        = f.input :title
        = f.input :description
    .col-md-4
      .form-group-list
        = f.input :list_item_limit
        = f.input :children

    .col= f.button :button, class: 'btn-primary'
