.reveal.list-item-modal.modal-fixed-footer{id: "list-item-modal-#{f.object.id}", data: { 'reveal' => true, 'close-on-click' => 'false', 'close-on-esc' => 'false', 'append-to' => '#list_form', 'multiple-opened' => 'true' }}
  .modal-header
    %h4 Edit List Item
  .modal-content
    .grid-x.grid-padding-x
      .cell
        = f.input :type, as: :hidden, input_html: { class: 'type-field' }
        = f.input :fake_type, wrapper_html: { class: 'alternative' }, input_html: { class: 'faketype-field'} do
          - select_tag :fake_type, options_for_select(Integral::ListItem.types_collection, formatted_item.type_for_dropdown), { include_blank: false, disabled: f.object.persisted?, class: 'faketype-field' }
        = f.input :object_type, as: :hidden, input_html: { class: 'object-type-field' }
        .object-wrapper{ class: f.object.object? ? '' : 'hide' }
          = f.input :object_id, as: :hidden, input_html: { class: 'object-id-field' }

          .object-preview.hoverable
            = image_tag image_path(formatted_item.object_image)
            .object-data
              %h5= formatted_item.title
              %span.subtitle= formatted_item.subtitle
              %span.url= formatted_item.url
            = icon('edit')
          .text-right
            %small
              Override defaults
              = icon('chevron-down')
      .cell
        = f.input :title, wrapper_html: { class: 'alternative' }, input_html: { 'data-character-counter' => 'true', class: formatted_item.title_required? ? 'title-field required' : 'title-field' }
      .cell.medium-8.link-attribute{ class: f.object.basic? || !f.object.persisted? ? 'hide' : '' }
        = f.input :url, wrapper_html: { class: "alternative" }, input_html: { class: 'url-field' }
      .cell.medium-4.link-attribute.align-self-middle.flex-container{ class: f.object.basic? || !f.object.persisted? ? 'hide' : '' }
        = f.input :target, as: :boolean, checked_value: '_blank', unchecked_value: '_self', input_html: { class: 'target-field' }, wrapper_html: { class: 'alternative' }
      .cell
        = f.input :subtitle, input_html: { 'data-character-counter' => 'true' }, wrapper_html: { class: 'alternative' }, as: :string
      .cell.medium-8
        = f.input :description, input_html: { 'data-character-counter' => 'true' }, wrapper_html: { class: 'alternative' }, as: :string, hint: false
      .cell.medium-4
        = f.input :image_id, as: :hidden, input_html: { class: 'image-field', data: { image_present: formatted_item.non_object_image?, fallback_image: formatted_item.fallback_image } }
        .image-preview.center
          .image-container
            = image_tag formatted_item.non_object_image, class: 'clickable hoverable'
            -# %span.material-icons.grey-text.text-darken-3.clickable edit
        = link_to 'Unlink', '#', class: 'btn unlink-btn'

  .modal-footer
    = link_to_remove_association 'Remove', f, class: 'button hollow secondary modal-close' #, wrapper_class: 'list-item-container'
    = link_to t('integral.actions.apply'), '#', class: 'button confirm-btn'

