.card.listing
  %h2.show-for-small-only= page_title
  = link_to t('integral.actions.create'), new_backend_resource_url, class: 'button hollow show-for-small-only create'
  .top-bar
    .top-bar-left.hide-for-small-only
      = link_to t('integral.actions.create'), new_backend_resource_url, class: 'button hollow'
    .top-bar-right
      = render_resource_grid_form do |f|
        %li= f.input :title, placeholder: t('integral.actions.search'), wrapper_html: { class: 'filter search' }, hint: false, label: false

  = render_resource_grid
