= render_data_grid do
  = render layout: 'integral/backend/shared/grid', locals: { grid: @grid, options: { columns: [:name, :email, :updated_at, :actions], order: true }} do |grid|
    - if grid.assets.any?
      - grid.assets.decorate.each do |record|
        %tr
          %td
            = image_tag record.avatar_url, class: :avatar
            = record.name.truncate(30)
          %td= record.email
          %td= l(record.updated_at, format: :long)
          %td.actions
            = link_to backend_user_url(record) do
              = icon('eye')
            = link_to edit_backend_user_url(record) do
              = icon('edit')
            = link_to backend_user_url(record), method: :delete, data: { confirm: t('integral.actions.confirmation.deletion') } do
              = icon('remove')
    - else
      = render partial: 'integral/backend/shared/empty_grid'
