= content_for :title, t('.title', name: @resource.name)
.row
  .col-md-6
    .card.card-summary
      .row
        .col-md-4.text-center
          = decorated_resource.avatar_circle
        .col-md-8
          %h2= @resource.name
          %ul.list-group
            %li.list-group-item.p-1
              = icon('bi bi-envelope')
              = @resource.email
            %li.list-group-item.p-1
              = icon('bi bi-calendar')
              = t('.member_since', start_date: l(@resource.created_at))
            %li.list-group-item.p-1
              = icon('bi bi-person')
              = t("integral.statuses.#{@resource.status}")
            %li.list-group-item.p-1
              - if @resource.notify_me?
                = icon('bi bi-bell')
                = 'Notified about everything'
              - else
                = icon('bi bi-bell-slash')
                = 'Notified about only things that have been subscribed too'

          .mt-2
            - @resource.roles.each do |role|
              .badge.bg-secondary= role.label
        .col
          %hr
          %ul.list-group.list-group-summary
            %li.list-group-item
              - if policy(resource_klass).manager?
                = link_to t('integral.actions.edit'), edit_backend_resource_url(@resource), icon: 'bi bi-pencil'
            %li.list-group-item
              - if policy(resource_klass).manager?
                = link_to t('integral.actions.delete'), backend_resource_url(@resource), method: :delete, data: { confirm: t('integral.actions.confirmation.deletion') }, icon: 'bi bi-trash'
            %li.list-group-item
              - if policy(Integral::Version).manager?
                = link_to t('integral.actions.view_history'), activities_backend_resource_url(@resource), icon: 'bi bi-clock-history'

  .col-md-6
    = render_card(:recent_activity, { grid: recent_activity_grid(user: @resource.id) })
