= content_for :title, t('.title', name: @resource.name)
.grid-x.grid-padding-x
  .cell.medium-6
    .grid-y
      .cell
        .card.profile
          .card-section
            .grid-x.grid-padding-x
              .cell.medium-4
                = image_tag @resource.avatar.url(:small), class: :avatar
              .cell.medium-8
                = link_to edit_backend_user_url(@resource), class: :settings do
                  = icon('cog')
                %h2= @resource.name
                -# TODO: Implement title/position for Integral::User
                -#%h3 Director
                %p
                  = icon('envelope')
                  = @resource.email
                %p
                  = icon('calendar')
                  = t('.member_since', start_date: l(@resource.created_at))
                %p
                  - if @resource.notify_me?
                    = icon('bell')
                    = 'Notified about everything'
                  - else
                    = icon('bell-o')
                    = 'Notified about only things that have been subscribed too'
                .roles
                  - @resource.roles.each do |role|
                    .label= role.label

  .cell.medium-6
    .grid-y
      .cell= render_card(:recent_activity, { grid: recent_activity_grid(user: @resource.id) })
