= content_for :title, t('.title', name: @resource.name)
.grid-x.grid-padding-x
  .cell.small-12.medium-6
    .grid-y
      .cell
        .card.profile
          .card-section
            .grid-x.grid-padding-x
              .cell.medium-4
                = image_tag @resource.avatar.url(:small), class: :avatar
              .cell.medium-8
                = link_to edit_backend_user_url(@resource), class: :settings do
                  = icon('cog')
                %h2= @resource.name
                -# TODO: Implement title/position for Integral::User
                -#%h3 Director
                %p
                  = icon('envelope')
                  = @resource.email
                %p
                  = icon('calendar')
                  = t('.member_since', start_date: l(@resource.created_at))

                .roles
                  - @resource.roles.each do |role|
                    .label= role.label
      -# .cell
      -#   .card
      -#     .card-section
      -#       Creates Graph
  -# .cell.small-12.medium-6
  -#   .grid-y
  -#     .cell
  -#       .card
  -#         .card-section
  -#           %h2 Activity
