= content_for :title, t('.title', name: @resource.title)

= simple_form_for [:backend, @resource], validate: true do |f|
  -# = f.input :lock_version, as: :hidden
  .grid-x
    .cell.medium-8
      .grid-y
        = f.input :title
        = f.input :description
    .cell.medium-4
      .grid-y
        .cell
          .card
            = image_tag main_app.url_for(@resource.attachment.representation(resize_to_limit: [500, 500]))

    .cell= f.button :button
