= content_for :actionbar do
  %ul.menu.horizontal
    - if policy(resource_klass).new?
      %li
        = link_to new_backend_resource_url, class: 'button white' do
          = icon('plus')
          = t('integral.actions.upload')

.grid-x
  -# Left Column
  .cell.large-6
    .grid-y
      .cell= render_card(:recent_resources)
      .cell= render_card(:at_a_glance)

  -# Right Column
  .cell.large-6
    .grid-y
      .cell= render_card(:recent_activity)
      .cell.xlarge-6= render_card(:recent_user_activity)
