= content_for :actionbar do
  %ul.list-group.mb-1
    - if policy(resource_klass).new?
      %li.list-group-item
        = link_to new_backend_resource_url, class: 'btn btn-light' do
          = icon('bi bi-plus')
          = t('integral.actions.upload')

.row
  .col-md-6= render_card(:recent_resources)
  .col-md-6= render_card(:at_a_glance)
  .col-md-6= render_card(:recent_activity)
  .col-md-6= render_card(:recent_user_activity)
