= content_for :title, @resource.title

.row
  .col-md-6
    .card.card-summary
      %h2= @resource.title
      %p= @resource.description
      %hr
      .list-group.list-group-summary
        %li.list-group-item
          - if policy(resource_klass).manager?
            = link_to t('integral.actions.edit'), edit_backend_resource_url(@resource), icon: 'bi bi-pencil'
        %li.list-group-item
          = link_to t('integral.actions.download'), rails_blob_path(@resource.attachment, disposition: "attachment"), target: :blank, icon: 'bi bi-cloud-download'
        %li.list-group-item
          - if policy(resource_klass).manager?
            = link_to t('integral.actions.delete'), backend_resource_url(@resource), method: :delete, data: { confirm: t('integral.actions.confirmation.deletion') }, icon: 'bi bi-trash'
        %li.list-group-item
          - if policy(Integral::Version).manager?
            = link_to t('integral.actions.view_history'), activities_backend_resource_url(@resource), icon: 'bi bi-clock-history'

  .col-md-6= render_card(:object, { title: 'Essentials', resource: decorated_resource })
  .col-md-6= render_card(:recent_user_activity)
  .col-md-6= render_card(:recent_activity)
