= content_for :title, @resource.title

.grid-x
  .cell.large-6
    -# Left Column
    .grid-x
      .cell
        .card
          %h2= @resource.title
          %p.subtitle= @resource.description
          %hr

          .grid-x.actions
            .cell.xlarge-8.xxlarge-6
              .grid-x.small-up-2
                - if policy(resource_klass).manager?
                  = link_to t('integral.actions.edit'), edit_backend_resource_url(@resource), icon: :edit, wrapper: :cell
                = link_to t('integral.actions.download'), rails_blob_path(@resource.attachment, disposition: "attachment"), target: :blank, icon: 'download', wrapper: :cell
                - if policy(resource_klass).destroy?
                  = link_to t('integral.actions.delete'), backend_resource_url(@resource), method: :delete, data: { confirm: t('integral.actions.confirmation.deletion') }, icon: :remove, wrapper: :cell

      .cell.medium-6.flex-container= render_card(:object, { title: 'Essentials', resource: decorated_resource })
      .cell.xlarge-6.flex-container= render_card(:recent_user_activity)
  .cell.large-6
    -# Right Column
    .grid-x
      .cell= render_card(:recent_activity)
