- if policy(resource_klass).update?
  = link_to t('integral.actions.edit'), edit_backend_resource_url(resource), icon: 'bi bi-pencil', wrapper: :li, class: 'dropdown-item'
= link_to t('integral.actions.view_on_site'), resource.frontend_url, icon: 'bi bi-eye', wrapper: :li, class: 'dropdown-item'
= link_to t('integral.actions.open_in_new_tab'), backend_resource_url(resource), target: :blank, icon: 'bi bi-box-arrow-up-right', wrapper: :li, class: 'dropdown-item'
- if policy(resource_klass).duplicate?
  %li
    %button.dropdown-item{ data: { controller: 'confirmation', action: 'confirmation#confirm', message: t('integral.actions.confirmation.clone'), method: :post, href: duplicate_backend_resource_url(resource) }}
      = icon('bi bi-clipboard')
      = t('integral.actions.clone')
- if policy(Integral::Version).manager?
  = link_to t('integral.actions.view_history'), activities_backend_resource_url(resource), icon: 'bi bi-clock-history', wrapper: :li, class: 'dropdown-item'
- if policy(resource_klass).destroy?
  %li
    %button.dropdown-item{ data: { controller: 'confirmation', action: 'confirmation#confirm', message: t('integral.actions.confirmation.deletion'), method: :delete, href: backend_resource_url(resource) }}
      = icon('bi bi-trash')
      = t('integral.actions.delete')
