%td= resource.title.truncate(30)
%td= resource.category.title
%td
  %span.label= t("integral.statuses.#{resource.status}")
%td= number_with_delimiter(resource.view_count)
%td= l(resource.updated_at, format: :long)
