<!-- wp:group {"className":"section\u002d\u002dhero"} -->
<div class="wp-block-group section--hero"><div class="wp-block-group__inner-container">
    <!-- wp:group {"className":"grid-container"} -->
    <div class="wp-block-group grid-container"><div class="wp-block-group__inner-container">
        <!-- wp:columns -->
        <div class="wp-block-columns">
          <!-- wp:column -->
          <div class="wp-block-column">
            <!-- wp:heading {"level":1} -->
            <h1>A Rails CMS which just works.</h1>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>Create a website (which does stuff) within minutes powered by Rails 5.</p>
            <!-- /wp:paragraph -->

            <!-- wp:buttons -->
            <div class="wp-block-buttons">
              <!-- wp:button -->
              <div class="wp-block-button"><a href="https://heroku.com/deploy?template=https://github.com/yamasolutions/integral-sample" class="wp-block-button__link">DEPLOY NOW</a></div>
              <!-- /wp:button -->
            </div>
            <!-- /wp:buttons -->

            <!-- wp:paragraph {"className":"text-benefits"} -->
            <p class="text-benefits"><i class="fa fa-check"></i>100% free and open source.<i class="fa fa-check"></i>Easy to get started.</p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->

          <!-- wp:column {"className":"pos-rel"} -->
          <div class="wp-block-column pos-rel">
            <!-- wp:image {"id":8241,"sizeSlug":"large"} -->
            <figure class="wp-block-image size-large"><img src="<%= image_url('integral/demo/integral-presentation.png', skip_pipeline: true) %>" alt="" class="wp-image-8241"/></figure>
            <!-- /wp:image -->
          </div>
          <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
      </div>
    </div>
    <!-- /wp:group -->
  </div>
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"section\u002d\u002danchors"} -->
<div class="wp-block-group section--anchors"><div class="wp-block-group__inner-container">
    <!-- wp:group {"className":"grid-container"} -->
    <div class="wp-block-group grid-container"><div class="wp-block-group__inner-container">
        <!-- wp:columns -->
        <div class="wp-block-columns">
          <!-- wp:column -->
          <div class="wp-block-column">
            <!-- wp:paragraph -->
            <p><a href="#features">Features</a></p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->
          <!-- wp:column -->
          <div class="wp-block-column">
            <!-- wp:paragraph -->
            <p><a href="#setup">Easy Setup</a></p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->
          <!-- wp:column -->
          <div class="wp-block-column">
            <!-- wp:paragraph -->
            <p><a href="#partners">Partners</a></p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->
          <!-- wp:column -->
          <div class="wp-block-column">
            <!-- wp:paragraph -->
            <p><a href="#heroku-ready">Heroku Ready</a></p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->
          <!-- wp:column -->
          <div class="wp-block-column">
            <!-- wp:paragraph -->
            <p><a href="#production-ready">Production Ready</a></p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->
          <!-- wp:column -->
          <div class="wp-block-column">
            <!-- wp:paragraph -->
            <p><a href="#frontend framework">Frontend framework</a></p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
      </div></div>
      <!-- /wp:group -->
  </div></div>
  <!-- /wp:group -->

<!-- wp:group {"className":"section\u002d\u002dsummary"} -->
<div class="wp-block-group section--summary"><div class="wp-block-group__inner-container">
    <!-- wp:columns -->
    <div class="wp-block-columns">
      <!-- wp:column -->
      <div class="wp-block-column">
        <!-- wp:image {"id":8241,"sizeSlug":"large"} -->
        <figure class="wp-block-image size-large"><img src="<%= image_url('integral/demo/integral-cms-without-hassle.jpg', skip_pipeline: true) %>" alt="" class="wp-image-8241"/></figure>
        <!-- /wp:image -->
      </div>
      <!-- /wp:column -->
      <!-- wp:column -->
      <div class="wp-block-column">
        <!-- wp:heading -->
        <h2>Deploy a professional website without all the hassle</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph -->
        <p>Integral CMS combines all the tools necessary to create a website which stands up to the elements, whether you’re creating that niche blog you’ve always wanted or developing a complex application for a client.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p>Don’t worry there are no fancy over complicated methodologies to learn, so long as you have a basic grasp of Rails then you’ll be up and running in no time - with the ability to easily customise Integral to exactly what you want.</p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->

    <!-- wp:columns -->
    <div class="wp-block-columns">
      <!-- wp:column -->
      <div class="wp-block-column">
        <!-- wp:integral/card -->
        <div class="wp-block-integral-card card"><div class="card-section"><h3 class="card__title">Content Focused</h3><hr class="card__divider"/><div class="card__body"><p>Create fascinating blog posts and interesting pages using Integrals sleek backend. Integrated SEO gives you full control of your online presence.</p></div></div></div>
        <!-- /wp:integral/card -->
      </div>
      <!-- /wp:column -->

      <!-- wp:column -->
      <div class="wp-block-column">
        <!-- wp:integral/card -->
        <div class="wp-block-integral-card card"><div class="card-section"><h3 class="card__title">Simple setup &amp; customisation</h3><hr class="card__divider"/><div class="card__body"><p>Integral follows convention over configuration allowing you to get started within minutes whilst providing flexibility through configurable settings</p></div></div></div>
        <!-- /wp:integral/card -->
      </div>
      <!-- /wp:column -->

      <!-- wp:column -->
      <div class="wp-block-column">
        <!-- wp:integral/card -->
        <div class="wp-block-integral-card card"><div class="card-section"><h3 class="card__title">Production Ready</h3><hr class="card__divider"/><div class="card__body"><p>Powers websites &amp; applications big and small. Actively maintained &amp; tested by the community to improve features as well as develop new functionality.</p></div></div></div>
        <!-- /wp:integral/card --></div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </div></div>
  <!-- /wp:group -->

<!-- wp:group {"className":"section\u002d\u002dsetup"} -->
<div id="features" class="wp-block-group section--features"><div class="wp-block-group__inner-container">
    <!-- wp:columns -->
    <div class="wp-block-columns">
      <!-- wp:column -->
      <div class="wp-block-column">
        <!-- wp:heading -->
        <h2>Features including..</h2>
        <!-- /wp:heading -->
        <!-- wp:list {"className":"list\u002d\u002dchecked"} -->
        <ul class="list--checked">
          <li>Professional UI</li>
          <li>User management</li>
          <li>Integrated blog</li>
          <li>Dynamic pages</li>
          <li>List management</li>
          <li>Activity tracking</li>
          <li>File management</li>
          <li>SEO ready</li>
          <li>Contat form processing w/ HTML emails</li>
        </ul>
        <!-- /wp:list -->
      </div>
      <!-- /wp:column -->
      <!-- wp:column -->
      <div class="wp-block-column">
        <!-- wp:image {"id":8241,"sizeSlug":"large"} -->
        <figure class="wp-block-image size-large"><img src="<%= image_url('integral/demo/integral-features-design.jpg', skip_pipeline: true) %>" alt="" class="wp-image-8241"/></figure>
        <!-- /wp:image -->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </div></div>
  <!-- /wp:group -->

<!-- wp:group {"className":"section\u002d\u002dpartners"} -->
<div id="partners" class="wp-block-group section--partners"><div class="wp-block-group__inner-container">
    <!-- wp:group {"className":"grid-container"} -->
    <div class="wp-block-group grid-container"><div class="wp-block-group__inner-container">
        <!-- wp:heading -->
        <h2>Standing on the shoulders of giants</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"className":"text-summary"} -->
        <p class="text-summary">Integral wouldn't be possible without all those individuals who have spent time and effort to create great software and then make it freely available through open source, to name a couple...</p>
        <!-- /wp:paragraph -->

        <!-- wp:columns -->
        <div class="wp-block-columns">
          <!-- wp:column -->
          <div class="wp-block-column">
            <!-- wp:paragraph -->
            <p><i class="fa fa-users"></i></p>
            <!-- /wp:paragraph -->
            <!-- wp:heading {"level":5} -->
            <h5>Devise</h5>
            <!-- /wp:heading -->
            <!-- wp:paragraph -->
            <p>User Authentication</p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->
          <!-- wp:column -->
          <div class="wp-block-column">
            <!-- wp:paragraph -->
            <p><i class="fa fa-picture-o"></i></p>
            <!-- /wp:paragraph -->
            <!-- wp:heading {"level":5} -->
            <h5>Uppy</h5>
            <!-- /wp:heading -->
            <!-- wp:paragraph -->
            <p>File Management</p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->
          <!-- wp:column -->
          <div class="wp-block-column">
            <!-- wp:paragraph -->
            <p><i class="fa fa-history"></i></p>
            <!-- /wp:paragraph -->
            <!-- wp:heading {"level":5} -->
            <h5>Papertrail</h5>
            <!-- /wp:heading -->
            <!-- wp:paragraph -->
            <p>Activity Tracking</p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->
          <!-- wp:column -->
          <div class="wp-block-column">
            <!-- wp:paragraph -->
            <p><i class="fa fa-ellipsis-h"></i></p>
            <!-- /wp:paragraph -->
            <!-- wp:heading {"level":5} -->
            <h5>Plus lots more..</h5>
            <!-- /wp:heading -->
          </div>
          <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
      </div></div>
      <!-- /wp:group -->
  </div></div>
  <!-- /wp:group -->

<!-- wp:group {"className":"section\u002d\u002dsetup"} -->
<div id="setup" class="wp-block-group section--setup"><div class="wp-block-group__inner-container">
    <!-- wp:columns -->
    <div class="wp-block-columns">
      <!-- wp:column -->
      <div class="wp-block-column">
        <!-- wp:heading -->
        <h2>Super easy setup</h2>
        <!-- /wp:heading -->
      </div>
      <!-- /wp:column -->
      <!-- wp:column -->
      <div class="wp-block-column">
        <!-- wp:paragraph -->
        <p>Add the gem to your Rails application.</p>
        <!-- /wp:paragraph -->
        <!-- wp:paragraph -->
        <p><code>gem 'integral'</code></p>
        <!-- /wp:paragraph -->
        <!-- wp:paragraph -->
        <p>Run Integral's installer</p>
        <!-- /wp:paragraph -->
        <!-- wp:paragraph -->
        <p><code>rake integral:install</code></p>
        <!-- /wp:paragraph -->
        <!-- wp:paragraph -->
        <p>Visit <code>localhost:3000</code> and voila! Check out <code>/admin</code> to edit the example page or create your first blog post.</p>
        <!-- /wp:paragraph -->

        <!-- wp:buttons -->
        <div class="wp-block-buttons">
          <!-- wp:button -->
          <div class="wp-block-button"><a href="https://github.com/yamasolutions/integral" class="wp-block-button__link">Documentation</a></div>
          <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </div></div>
  <!-- /wp:group -->


<!-- wp:group {"className":"section\u002d\u002dfrontend-framework"} -->
<div id="frontend-framework" class="wp-block-group section--frontend-framework"><div class="wp-block-group__inner-container">
    <!-- wp:group {"className":"grid-container"} -->
    <div class="wp-block-group grid-container"><div class="wp-block-group__inner-container">

        <!-- wp:columns -->
        <div class="wp-block-columns">
          <!-- wp:column -->
          <div class="wp-block-column">
            <!-- wp:heading -->
            <h2>Built with Foundation</h2>
            <!-- /wp:heading -->

            <!-- wp:heading {"level":3} -->
            <h3>Responsive front-end framework</h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>Foundation makes it easy to design beautiful responsive websites that look amazing on any device. Integral uses it as the default front-end framework because it’s flexible, readable and jam-packed with features to help people rapidly build content-focused websites.</p>
            <!-- /wp:paragraph -->

            <!-- wp:buttons -->
            <div class="wp-block-buttons">
              <!-- wp:button -->
              <div class="wp-block-button"><a href="https://foundation.zurb.com/sites.html" class="wp-block-button__link">Learn More</a></div>
              <!-- /wp:button -->
            </div>
            <!-- /wp:buttons -->
          </div>
          <!-- /wp:column -->
          <!-- wp:column -->
          <div class="wp-block-column">
            <!-- wp:image {"id":8241,"sizeSlug":"large"} -->
            <figure class="wp-block-image size-large"><img src="<%= image_url('integral/demo/foundation-frontend-framework.jpg', skip_pipeline: true) %>" alt="" class="wp-image-8241"/></figure>
            <!-- /wp:image -->
          </div>
          <!-- /wp:column -->

        </div>
        <!-- /wp:columns -->
      </div></div>
      <!-- /wp:group -->
  </div></div>
  <!-- /wp:group -->




<!-- wp:group {"className":"section\u002d\u002dheroku-ready"} -->
<div id="heroku-ready" class="wp-block-group section--heroku-ready"><div class="wp-block-group__inner-container">
    <!-- wp:columns -->
    <div class="wp-block-columns">
      <!-- wp:column -->
      <div class="wp-block-column">
        <!-- wp:heading -->
        <h2>Heroku Ready</h2>
        <!-- /wp:heading -->

        <!-- wp:heading {"level":3} -->
        <h3>Super fast deployment</h3>
        <!-- /wp:heading -->

        <!-- wp:paragraph -->
        <p>Deploy in no time with Heroku using facilities such as GitHub integration, pipelines, review apps as well as code and data rollbacks.</p>
        <!-- /wp:paragraph -->

        <!-- wp:heading {"level":3} -->
        <h3>Management, simplified</h3>
        <!-- /wp:heading -->

        <!-- wp:paragraph -->
        <p>Heroku handles the developer operations side of things so you can focus on creating amazing websites. Scaling, metrics, add ons and continuous delivery and all provided by Heroku.</p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:column -->
      <!-- wp:column -->
      <div class="wp-block-column">
        <!-- wp:image {"id":8241,"sizeSlug":"large"} -->
        <figure class="wp-block-image size-large"><img src="<%= image_url('integral/demo/heroku.png', skip_pipeline: true) %>" alt="" class="wp-image-8241"/></figure>
        <!-- /wp:image -->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </div></div>
  <!-- /wp:group -->

<!-- wp:group {"className":"section\u002d\u002dproduction-ready"} -->
<div id="production-ready" class="wp-block-group section--production-ready"><div class="wp-block-group__inner-container">
    <!-- wp:columns -->
    <div class="wp-block-columns">
      <!-- wp:column -->
      <div class="wp-block-column">
        <!-- wp:image {"id":8241,"sizeSlug":"large"} -->
        <figure class="wp-block-image size-large"><img src="<%= image_url('integral/demo/continous-integration.png', skip_pipeline: true) %>" alt="" class="wp-image-8241"/></figure>
        <!-- /wp:image -->
      </div>
      <!-- /wp:column -->

      <!-- wp:column -->
      <div class="wp-block-column">
        <!-- wp:heading -->
        <h2>Production Ready</h2>
        <!-- /wp:heading -->

        <!-- wp:heading {"level":3} -->
        <h3>Battle Tested</h3>
        <!-- /wp:heading -->

        <!-- wp:paragraph -->
        <p>Used to power applications from the smallest blog to multi-language sites with 1000s of pages, Integral is ready for almost any use case</p>
        <!-- /wp:paragraph -->

        <!-- wp:heading {"level":3} -->
        <h3>CI Enabled</h3>
        <!-- /wp:heading -->

        <!-- wp:paragraph -->
        <p>Tests, code quality and coverage checks are carried out automatically whenever any changes are made to Integral to ensure good development practise and code is functioning properly</p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </div></div>
  <!-- /wp:group -->

<!-- wp:integral/cover {"className":"mb-0"} -->
<div class="wp-block-integral-cover mb-0"><div class="integral-cover-card">
    <!-- wp:heading -->
    <h2>A Rails CMS which will knock your socks off</h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph -->
    <p>Creating a professional website on Rails has never been easier</p>
    <!-- /wp:paragraph -->

    <!-- wp:integral/cover-button {"title":"Get Started","url":"https://heroku.com/deploy?template=https://github.com/yamasolutions/integral-sample"} -->
    <a href="https://heroku.com/deploy?template=https://github.com/yamasolutions/integral-sample" target="_self" class="wp-block-integral-cover-button">Get Started</a>
    <!-- /wp:integral/cover-button -->
  </div></div>
  <!-- /wp:integral/cover -->
