%section.hero
  .grid-container
    .grid-x.grid-padding-x
      .cell.medium-6.large-5
        %h1 A Rails CMS which just works.
        %p Create a website (which does stuff) within minutes powered by Rails 5.
        = link_to 'DEPLOY NOW', 'https://heroku.com/deploy?template=https://github.com/yamasolutions/integral-sample', class: 'button', target: :blank
        %p
          %small
            = icon('check', class: 'text-primary')
            100% free and open source.
            = icon('check', class: 'text-primary')
            Easy to get started.
      .cell.medium-6.large-7.pos-rel
        = image_tag image_url('integral/demo/integral-presentation.png', skip_pipeline: true)

%section.anchors{ 'data-smooth-scroll' => true }
  .grid-container
    .grid-x.grid-padding-x.text-center
      .cell.medium-2
        = link_to 'Features', '#features', { 'data-turbolinks' => 'false' }
      .cell.medium-2
        = link_to 'Easy Setup', '#setup', { 'data-turbolinks' => 'false' }
      .cell.medium-2
        = link_to 'Partners', '#partners', { 'data-turbolinks' => 'false' }
      .cell.medium-2
        = link_to 'Heroku Ready', '#heroku-ready', { 'data-turbolinks' => 'false' }
      .cell.medium-2
        = link_to 'Production Ready', '#production-ready', { 'data-turbolinks' => 'false' }
      .cell.medium-2
        = link_to 'Frontend framework', '#frontend-framework', { 'data-turbolinks' => 'false' }

%section.summary
  .grid-container
    .grid-x.grid-padding-x.align-center
      .cell.medium-6
        = image_tag image_url('integral/demo/integral-cms-without-hassle.jpg', skip_pipeline: true), class: 'image--shadow'
      .cell.medium-6
        %h2 Deploy a professional website without all the hassle
        %p Integral CMS combines all the tools necessary to create a website which stands up to the elements, whether you’re creating that niche blog you’ve always wanted or developing a complex application for a client.
        %p Don’t worry there are no fancy over complicated methodologies to learn, so long as you have a basic grasp of Rails then you’ll be up and running in no time - with the ability to easily customise Integral to exactly what you want.
      .cell.medium-6.large-4.flex-container
        .card
          %hr
          %h3 Content focused
          %p Create fascinating blog posts and interesting pages using Integrals sleek backend. Integrated SEO gives you full control of your online presence.
      .cell.medium-6.large-4.flex-container
        .card
          %hr
          %h3 Simple setup & customisation
          %p Integral follows convention over configuration allowing you to get started within minutes whilst providing flexibility through configurable settings
      .cell.medium-6.large-4.flex-container
        .card
          %hr
          %h3 Production Ready
          %p Powers websites & applications big and small. Actively maintained & tested by the community to improve features as well as develop new functionality.

%section#features.features
  .grid-container
    .grid-x.grid-padding-x
      .cell.medium-6.large-5
        %h2 Features including...
        %ul#feature-tabs.tabs{ 'data-tabs' => true }
          %li.tabs-title.is-active
            = link_to 'Professional UI', '#feature-professional-ui'
          %li.tabs-title
            = link_to 'User management', '#feature-user-management'
          %li.tabs-title
            = link_to 'Integrated blog', '#feature-integrated-blog'
          %li.tabs-title
            = link_to 'Dynamic pages', '#feature-dynamic-pages'
          %li.tabs-title
            = link_to 'List managment', '#feature-list-management'
          %li.tabs-title
            = link_to 'Activity tracking', '#feature-activity-tracking'
          %li.tabs-title
            = link_to 'File management', '#feature-image-management'
          %li.tabs-title
            = link_to 'SEO ready', '#feature-seo-ready'
          %li.tabs-title
            = link_to 'Contact form processing w/ HTML emails', '#feature-contact-form'
      .cell.medium-6.large-7.pos-rel
        .tabs-content{ 'data-tabs-content' => 'feature-tabs' }
          #feature-professional-ui.tabs-panel.is-active
            = image_tag image_url('integral/demo/integral-features-design.jpg', skip_pipeline: true)
          #feature-user-management.tabs-panel
            = image_tag image_url('integral/demo/integral-features-user-management.jpg', skip_pipeline: true)
          #feature-integrated-blog.tabs-panel
            = image_tag image_url('integral/demo/integral-features-integrated-blog.jpg', skip_pipeline: true)
          #feature-dynamic-pages.tabs-panel
            = image_tag image_url('integral/demo/integral-features-dynamic-pages.jpg', skip_pipeline: true)
          #feature-list-management.tabs-panel
            = image_tag image_url('integral/demo/integral-features-list-management.jpg', skip_pipeline: true)
          #feature-activity-tracking.tabs-panel
            = image_tag image_url('integral/demo/integral-features-activity-tracking.jpg', skip_pipeline: true)
          #feature-image-management.tabs-panel
            = image_tag image_url('integral/demo/integral-features-image-management.jpg', skip_pipeline: true)
          #feature-seo-ready.tabs-panel
            = image_tag image_url('integral/demo/integral-features-seo-ready.jpg', skip_pipeline: true)
          #feature-contact-form.tabs-panel
            = image_tag image_url('integral/demo/integral-features-contact-form.png', skip_pipeline: true), class: 'image--no-shadow'

%section#partners.partners
  .grid-container
    .grid-x.grid-padding-x.text-center.align-center
      .cell
        %h2 Standing on the shoulders of giants
        %p.paragraph--summary Integral wouldn't be possible without all those individuals who have spent time and effort to create great software and then make it freely available through open source, to name a couple...
      .cell.small-6.medium-3
        = icon('users')
        %h5 Devise
        %p User Authentication
      .cell.small-6.medium-3
        = icon('picture-o')
        %h5 Active Storage
        %p File Management
      .cell.small-6.medium-3
        = icon('history')
        %h5 Papertrail
        %p Activity Tracking
      .cell.small-6.medium-3
        = icon('ellipsis-h')
        %h5 Plus lots more...

%section#setup.section--setup
  .grid-container
    .grid-x.grid-padding-x
      .cell.large-5
        %h2 Super easy setup
      .cell.large-7
        %p Add the gem to your Rails application.
        %pre
          %code
            gem 'integral'
        %p Run Integral’s installer
        %pre
          %code
            rake integral:install
        %p
          Visit
          %code localhost:3000
          and voila! Check out
          %code /admin
          to edit the example page or create your first blog post.
        = link_to 'Documentation', 'https://github.com/yamasolutions/integral', class: 'button'

%section#frontend-framework.section--frontend-framework
  .grid-container
    .grid-x.grid-padding-x
      .cell.medium-6
        %h2 Built with Foundation
        %h3 Responsive front-end framework
        %p Foundation makes it easy to design beautiful responsive websites that look amazing on any device. Integral uses it as the default front-end framework because it’s flexible, readable and jam-packed with features to help people rapidly build content-focused websites.
        %p
          = link_to 'Learn More', 'https://foundation.zurb.com/sites.html', class: 'button hollow', target: :blank
      .cell.medium-6
        = image_tag image_url('integral/demo/foundation-frontend-framework.jpg', skip_pipeline: true)

%section#heroku-ready.section--heroku-ready
  .grid-container
    .grid-x.grid-padding-x
      .cell.medium-6
        %h2 Heroku Ready
        %h3 Super fast deployment
        %p Deploy in no time with Heroku using facilities such as GitHub integration, pipelines, review apps as well as code and data rollbacks.
        %h3 Management, simplified
        %p Heroku handles the developer operations side of things so you can focus on creating amazing websites. Scaling, metrics, add ons and continuous delivery and all provided by Heroku.
      .cell.medium-6
        = image_tag image_url('integral/demo/heroku.png', skip_pipeline: true), class: 'image--shadow'

%section#production-ready.section--production-ready
  .grid-container
    .grid-x.grid-padding-x
      .cell.medium-6.medium-order-2
        %h2 Production Ready
        %h3 Battle Tested
        %p Used to power applications from the smallest blog to multi-language sites with 1000s of pages, Integral is ready for almost any use case
        %h3 CI Enabled
        %p Tests, code quality and coverage checks are carried out automatically whenever any changes are made to Integral to ensure good development practise and code is functioning properly
      .cell.medium-6.medium-order-1
        = image_tag image_url('integral/demo/continous-integration.png', skip_pipeline: true)

%section.section--banner
  .grid-container.text-center
    %h2 A Rails CMS which will knock your socks off
    %p Creating a professional website on Rails has never been easier
    = link_to 'Get Started', 'https://heroku.com/deploy?template=https://github.com/yamasolutions/integral-sample', class: 'button white hollow', target: :blank

