.container
  %h2.blog-subheading= t('integral.blog.widgets.categories')
  .row.scroll-container
    - featured_categories.decorate.each do |category|
      .col-md-3
        .integral-category
          .integral-category-image
            = link_to category_path(category) do
              = image_tag category.image_url
              .integral-category-title= category.title
          %ul.integral-category-list
            - category.posts(4).each do |post|
              %li= link_to post.title, integral.post_path(post.slug)

