= render partial: 'integral/shared/breadcrumbs'

#blog-wrapper.grid-container
  %h1= title
  .grid-x.grid-padding-x
    .cell.large-9{ 'data-post-list' => true }
      = yield
    = render partial: 'integral/shared/blog/sidebar'
= render partial: 'integral/shared/blog/categories'
