= render partial: 'integral/shared/breadcrumbs'

#blog-wrapper.container
  %h1= title
  .row
    .col-lg-9{ 'data-post-list' => true }
      = yield
    = render partial: 'integral/shared/blog/sidebar'
= render partial: 'integral/shared/blog/categories' if display_post_categories_widget?
