- resource = local_assigns.fetch(:resource, nil)

= render partial: 'integral/shared/breadcrumbs'

#blog-wrapper.container
  %h1
    = title
    - if user_signed_in? && resource.present?
      %small
        %span.badge.bg-secondary= resource.status
        %span.small= link_to 'Edit', integral.edit_backend_post_url(resource.id), class: "button medium", data: { 'turbo' => 'false' }

  .row
    .col-lg-9{ 'data-post-list' => true }
      = yield
    = render partial: 'integral/shared/blog/sidebar'

= render partial: 'integral/shared/blog/categories'
