.timeline-item
  .timeline-icon
    = icon(activity.item_icon)
  .timeline-content
    .timeline-content-header
      %p.timeline-content-event= activity.event
      - if activity.whodunnit.present?
        = link_to activity.whodunnit_url, class: 'timeline-content-user' do
          = activity.whodunnit.avatar_circle
          %span= activity.whodunnit_name.truncate(30)
      - else
        %p.timeline-content-user
          = image_tag activity.whodunnit_avatar_url, class: :avatar
          %span= activity.whodunnit_name.truncate(30)
    %p.timeline-content-date= l(activity.created_at)
    %p.timeline-content-title
      = activity.whodunnit_name
      = activity.event_verb.downcase
      = link_to activity.item_title, activity.item_url
    %hr

