.card.listing
  .top-bar
    .top-bar-right
      = render_resource_grid_form do |f|
        %li= f.input :user, collection: Integral::User.all.map {|u| [u.name, u.id]}, label: t('integral.records.attributes.user'), wrapper_html: { class: 'filter' }, input_html: { 'data-filter' => true }, required: false
        %li= f.input :action, collection: Integral::Version.available_actions, label: 'Action', wrapper_html: { class: 'filter' }, input_html: { 'data-filter' => true }, required: false
        %li= f.input :object, collection: Integral::Version.available_objects, label: 'Object', wrapper_html: { class: 'filter' }, input_html: { 'data-filter' => true }, required: false

  = render_resource_grid
